# Compiled files
*.class

# Simulation report files
reports/

# Javadocs
doc/
*.html
doc/stylesheet.css
doc/resources/*.gif
doc/package-list

# IntelliJ locations
/.idea/
/out/
the-one.iml
the-onetwo.iml

# some libs
lib/hamcrest*
lib/junit*

# Eclipse IDE files
.classpath
.project
/target/
.settings/org.eclipse.*
